export PRODUCTS_DB_DSN=postgres://products:products@localhost/products?sslmode=disable
export CREATEPRODUCT='{"name":"Spoon", "description":"Mouth", "category":"Utensils", "image_url":"https://m.media-amazon.com/images/I/61HG6u2+PQL._AC_UL320_.jpg", "price":1.11}'
export CREATEREVIEW='{"rating":1,"comment":"Spoom"}'
